# ignore a few specific files
tfe.txt
outputRtest.txt
data_analysis/noisified_tfe.txt
data_analysis/noisified_curves.txt
data_analysis/all_asas_35_features.txt
data_analysis/all_asas_35_tfe.txt
data_analysis/errors.tex


# ignore compiled files, log files, ect.
*.pyc
*.pdf
*.log
*.aux
*~
*.Rhistory
*.RData

# ignore the database itself - may want to change this at some point
*.db

# ignore the TCP folder, the data folder, the db_backup, and the database
TCP/
data/
db_backup/
db/